body{
    background-color: #2787af;
}
#Loader{
    background-image: url(../img/loader.gif) ;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100vh;

}

/* Constant value */
.para{
    max-width: 550px;
}
.contt{
   max-width: 1250px;
}
/* Constant value */

/* ------------------------------------ Navbar */


.navbar{
    background-color: white;
    box-shadow: 5px 5px 20px #e20016;
}

.logo{
    /* width: 8vw; */
    width: 100px;
}
.nav-item{
    margin-left: 15px;
    font-size: 1.2rem;
}
.nav-item:hover{
    background-color: #2787af;
    border-radius: 5px;
}
.active{
    background-color: #e20016;
    border-radius: 5px;
    color: white;
}

.navbar-nav .nav-item .nav-link{
    color: black;
    font-weight: 400;
}
video{
    opacity: .5;
    width: 100%;
}
/* ------------------------ Carousel section- 1 */

.carousel-indicators [data-bs-target]{
    width: 11vw;
    height: 11vw;
    background-color:#e20016;
    border-radius: 15px;
}

.carousel-item img{
    height:50vw;
}

.carousel-caption{
    top: 14vw;
    text-align: left;
    font-size:2vw;
    /* color: #e20016; */
    
}
/* .carousel-caption h2{
    background-color:#2786af9a ;
    padding-left: 15px;
    color: #e20016;
}*/
.carousel-caption p{
    background-color: #2786af9a;
    text-align: center;
} 
.carousel-caption h2{
    font-size:4vw;
}

/* -------------------------------------- section-2  */

.achiv{
    padding: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color:#2787af;
    color: white;
}

.achiv-text{
    max-width: 550px;
}
.achiv-img{
    border-radius: 15px;
   
}

/* --------------------------- section-3  */

.order-cont{
    background-color: rgba(0, 0, 0, 0.284);
}
.order{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
}
.order-text{
    max-width: 600px;
    color: white;
}
.icon-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 550px;
    gap: 50px;
}
.icon-order{
    width: 150px;
}
.icon-box{
    text-align: center;
    color: white;
}
.fix-bg{
    z-index: -5;
    position: fixed;
    top: 0px;
    /* opacity: .8; */
    width: 1550px;
    /* overflow: hidden; */
}

/* ---------------------- section-4 */

#tracking{
    /* position: absolute;
    /* visibility: hidden; */
    top: 0px; */
}
.form-cont{
    position: relative;
}
.Parcel-dispach{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    background-color: #ffffff;
}
.parcel-detail{
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 15px;
    border: 1px solid;
}
.parcel-submit{
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 15px;
    background-color: #2787af;
    border: 1px solid #e20016;
}
.label-text{
    font-size: 15px;
}
.parcel-cont{
    background-color: #2787af;
}

.help-you{
    width: 300px;
    /* height: 310px; */
    background-color: #e20016;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #2787af;
    
}
.help-you h3{
    padding-bottom: 25px;
    text-decoration: underline;
}
.btn-col{
    border-radius: 0px 0px 8px 8px;
}
.btn{
    background-color: #2787af;
    color: white;
    border-radius: 0;
    border: 1px solid #e20016;
    height: 55px;
}
.btn:hover{
    background-color:#e20016;
    color: white;
    border: 1px solid #2787af ;
}
.btn.active{
    background-color: #e20016;
    color: white;
}

/* ------------------------------ Section-5 */

.services{
    padding-top: 20px;
}
.services-cont::before{
    content: "services we provide";
    position: absolute;
    color: black;
    font-size: 1rem;
    top: 0%;
    left: 55px;
    text-decoration: underline;
    
}
.services-cont{
    padding-top: 30px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    color: white;
}

.services{
    background-color: #2787af;
}
.service-card{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
}
.provi-img-text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100px;
    transition: all ease .5s;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 15px;
    text-align: center;
    color: white;
}
.service-card:hover .provi-img-text{
    top: 0px;
    background-color: #e20017c1;
}

.services-provi-img{
    width: 300px;
    height: 400px;
}
.provi-img-text{
    width: 300px;
}
.provi-icon{
    width: 120px;
}
.services-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.serv-btn{
    margin: 25px;
    background-color: #e20016;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #e20016;
}
/* --------------------- Partners section- 6 -------------------- */

.work-list{
    display: flex;
    justify-content:space-around ;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px;
    color: white;
}
/* ----------------------------------- footer */
footer{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 35px;
}
footer img{
    width: 310px;
}
.footer-det{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.footer-sub {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
}
.footer-sub a{
    text-decoration: none;
    color: black;
}







@media only screen and (max-width: 460px) {
    .achiv-img{
        border-radius: 15px;
        width: 300px;
    }
    
}
@media only screen and (max-width: 560px){
.carousel-item img{
        height: 400px;
    }
}
